<%- include("./../partials/header.ejs") %>

<div class="container-fluid bg-light py-4">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1>Bem-vindo ao Controle de TI</h1>
            <p class="lead">Gerencie seus computadores, empresas e manutenções de forma eficiente.</p>
        </div>
    </div>

    <div class="row mt-4 justify-content-center">
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body text-center">
                    <h2 class="card-title">Adicionar</h2>
                    <div class="btn-group-vertical" role="group">
                        <a href="/register-pc" class="btn btn-primary btn-lg btn-block mb-2">Computador</a>
                        <a href="/register-empresa" class="btn btn-primary btn-lg btn-block mb-2">Empresa</a>
                        <a href="/register-manutencao" class="btn btn-primary btn-lg btn-block mb-2">Manutenção</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body text-center">
                    <h2 class="card-title">Listagem</h2>
                    <div class="btn-group-vertical" role="group">
                        <a href="/computadores" class="btn btn-primary btn-lg btn-block mb-2">Lista de computadores</a>
                        <a href="/empresas" class="btn btn-primary btn-lg btn-block mb-2">Lista de empresas</a>
                        <a href="/manutencoes" class="btn btn-primary btn-lg btn-block mb-2">Lista de manutenções</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../main') %>
