<body>
    <%- include('../main') %>
    <%- include("./../partials/header.ejs") %>


    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="d-flex align-items-center justify-content-start mb-4">
                            <a href="{{request.META.HTTP_REFERER}}" class="btn btn-back">
                                <i class="fas fa-arrow-left"></i>
                            </a>
                            <h2 class="card-title mb-0 mx-auto">Registrar Computador</h2>
                        </div>
                        <form action="/register-pc" method="post">
                            <div class="form-group">
                                <label for="name">Nome do computador</label>
                                <input type="text" class="form-control" name="nome" placeholder="Nome do computador">
                            </div>
                            <div class="form-group">
                                <label for="local">Local</label>
                                <input type="text" class="form-control" name="local" placeholder="Local do computador">
                            </div>
                            <div class="form-group">
                                <label for="description">Descrição</label>
                                <textarea placeholder="Informações complementares" class="form-control" rows='10' name="descricao"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="empresa">Empresa</label>
                                <select class="form-select" name="empresaId">
                                    <!-- Aqui vamos preencher dinamicamente as opções do dropdown com os dados das empresas -->
                                    <% empresas.forEach(function(empresa) { %>
                                    <option value="<%= empresa.id %>"><%= empresa.nome %></option>
                                    <% }); %>
                                </select>
                            </div>
                            <hr>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Enviar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>