<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <!-- Logo -->
            <a class="navbar-brand" href="/">
                <img src="logo_horizontal.png" alt="Honda Universo" height="40">
            </a>

            <!-- Botão Home -->
            <a class="btn btn-outline-primary me-2" href="/">Home</a>


        </div>
    </nav>
</header>